h1 {
  font-size: 36px;
  font-size: 2.571rem;
  line-height: 1.222
}

h1, h2 {
  font-family: 'IranSansWeb', sans-serif
}

h2 {
  font-size: 32px;
  font-size: 2.286rem;
  line-height: 1.375
}

h3 {
  font-size: 20px;
  font-size: 1.429rem;
  line-height: 1.1
}

h3, h4 {
  font-family: 'IranSansWeb', sans-serif;
  font-weight: 400;
  color: #555
}

h4 {
  font-size: 18px;
  font-size: 1.286rem;
  line-height: 1.222
}

h5 {
  font-size: 16px;
  font-size: 1.143rem;
  line-height: 1.375;
  font-weight: 400;
  color: #5d5959
}

h5, h6 {
  font-family: 'IranSansWeb', sans-serif
}

h6 {
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.571
}